html {
  font-size: 14px
}

body {

  line-height: 1.4286;
}

.app {
  height: 100vh;
  display: grid;
  grid-gap: 0;
  grid-template-columns: auto 2fr 2fr 2fr;
  grid-template-rows: 3rem auto;
  grid-template-areas:
    "header header header header"
    "sidebar main main main"
    "sidebar main main main";
}


header {
  grid-area: header;
  color: #fff;
}

aside {
  grid-area: sidebar;
  color: #fff;
  background: #33344a;
  width: 4rem;
  display: flex;
  }

main {
  grid-area: main;
}